<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="styles/style.css">
</head>
<body>
	<div class="container">
		<header class="note-create">
			<input type="text" class="search" placeholder="⌕ Search by titel" maxlength="20">
			<form class="note-form">
				<input type="text" class="note-title" placeholder="Enter title - 20 symbol max" maxlength="20" required>
				<input class="note-body" placeholder="Enter note - 200 symbol max" maxlength="200">
				<ul class="menu">
					<li class="add button fa fa-file-text-o" title="Add new note"></li>
					<li class="open-search button fa fa-search" title="Search"></li>
					<li class="hide-show button fa fa-eye" title="Hide|Show done notes"></li>
					<li class="delete-done button fa fa-trash" title="Delete done notes"></li>
					<li class="page-up button fa fa-arrow-up not-available"></li>
				</ul>
			</form>
		</header>
		<ul class="notes-list hide"></ul>
	</div>
	<!-- Шаблон -->
	<script id="template" type="text/template">
		<li class="note <%= (isDone) ? 'is-done' : '' %>">
			<h1 class="note-title" contenteditable="false"><%= title %></h1>
			<p class="note-body" contenteditable="false"><%= text %></p>
			<footer>
				<div class="date"><%= date %></div>
				<div class="buttons">
					<div class="done button fa fa-check" title="<%= (isDone) ? 'Undone' : 'Done' %>"></div>
					<div class="edit button fa fa-pencil" title="Edit"></div>
					<div class="save button fa fa-floppy-o" title="Save"></div>
					<div class="delete button fa fa-trash" title="Delete"></div>
				</div>
			</footer>
		</li>
	</script>
	<!-- Скрипты -->
	<script src="node_modules/jquery/dist/jquery.js"></script>
	<script src='node_modules/lodash/lodash.js'></script>
	<script src="js/script.js"></script>
</body>
</html>